html, body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.box {
    border: 1px solid #ddd;
    padding: 1.25rem;
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    min-width: 100px;
    box-sizing: border-box;
}

.box-title {
    color: #333;
    font-size: 2rem;
}

.box-subtitle {
    color: #aaa;
    font-size: 1rem;
    font-family: monospace;
}